In [1]:
import pandas as pd
import numpy as np

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [15]:
#load data
location = 'C:/Users/andti/OneDrive/Documents/Datasets/WELFake_Dataset.csv'
d = pd.read_csv(location)
d.drop(['Unnamed: 0'], axis=1, inplace = True)

In [119]:
DataSet = d.copy()

In [120]:
DataSet.label.value_counts()

1    37106
0    35028
Name: label, dtype: int64

In [121]:
#using text as an indicator 
TextDS = d[['text', 'label']]

In [122]:
#remove stop words
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download("stopwords")
stop_words = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\andti\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [123]:
lemmatizer = nltk.stem.WordNetLemmatizer()
def lemmatize_text(text):
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]

def TextWrangle (DataElement):
    LowerCase = DataElement.str.lower()
    RemoveStopWords = LowerCase.astype(str).apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
    Lematized = RemoveStopWords.apply(lemmatize_text)
    return Lematized

In [124]:
TextDS['text'] = TextWrangle(TextDS['text'])

<ipython-input-124-86180e07cd80>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TextDS['text'] = TextWrangle(TextDS['text'])

In [125]:
TextDS

                                                    text  label
0      [comment, expected, barack, obama, member, #fy...      1
1                        [post, vote, hillary, already?]      1
2      [now,, demonstrator, gathered, last, night, ex...      1
3      [dozen, politically, active, pastor, came, pri...      0
4      [rs-28, sarmat, missile,, dubbed, satan, 2,, r...      1
...                                                  ...    ...
72129  [washington, (reuters), -, hacker, believed, w...      0
72130  [know,, fantasyland, republican, never, questi...      1
72131  [migrant, refuse, leave, train, refugee, camp,...      0
72132  [mexico, city, (reuters), -, donald, trump’s, ...      0
72133  [goldman, sachs, endorses, hillary, clinton, p...      1

[72134 rows x 2 columns]